<a href="https://colab.research.google.com/github/vishnu0414/course-enrollment-analyzer/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
files.upload()

Saving heart_failure_clinical_records_dataset.csv to heart_failure_clinical_records_dataset.csv

{'heart_failure_clinical_records_dataset.csv': b'age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT\n75,0,582,0,20,1,265000,1.9,130,1,0,4,1\n55,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1\n65,0,146,0,20,0,162000,1.3,129,1,1,7,1\n50,1,111,0,20,0,210000,1.9,137,1,0,7,1\n65,1,160,1,20,0,327000,2.7,116,0,0,8,1\n90,1,47,0,40,1,204000,2.1,132,1,1,8,1\n75,1,246,0,15,0,127000,1.2,137,1,0,10,1\n60,1,315,1,60,0,454000,1.1,131,1,1,10,1\n65,0,157,0,65,0,263358.03,1.5,138,0,0,10,1\n80,1,123,0,35,1,388000,9.4,133,1,1,10,1\n75,1,81,0,38,1,368000,4,131,1,1,10,1\n62,0,231,0,25,1,253000,0.9,140,1,1,10,1\n45,1,981,0,30,0,136000,1.1,137,1,0,11,1\n50,1,168,0,38,1,276000,1.1,137,1,0,11,1\n49,1,80,0,30,1,427000,1,138,0,0,12,0\n82,1,379,0,50,0,47000,1.3,136,1,0,13,1\n87,1,149,0,38,0,262000,0.9,140,1,0,14,1\n45,0,582,0,14,0,166000,0.8,127,1,0,14,1\n70,1,125,0,25,1,237000,1,140,0,0,15,1\n48,1,582,1,55,0,87000,1.9,121,0,0,15,1\n65,1,52,0,25,1,276000,1.3,137,0,0,16,0\n65,1,128,1,30,1,297000,1.6,136,0,0,20,1\n68,1,220,0,35,1,289000,0.9,140,1,1,20,1\n53,0,63,1,60,0,368000,0.8,135,1,0,22,0\n75,0,582,1,30,1,263358.03,1.83,134,0,0,23,1\n80,0,148,1,38,0,149000,1.9,144,1,1,23,1\n95,1,112,0,40,1,196000,1,138,0,0,24,1\n70,0,122,1,45,1,284000,1.3,136,1,1,26,1\n58,1,60,0,38,0,153000,5.8,134,1,0,26,1\n82,0,70,1,30,0,200000,1.2,132,1,1,26,1\n94,0,582,1,38,1,263358.03,1.83,134,1,0,27,1\n85,0,23,0,45,0,360000,3,132,1,0,28,1\n50,1,249,1,35,1,319000,1,128,0,0,28,1\n50,1,159,1,30,0,302000,1.2,138,0,0,29,0\n65,0,94,1,50,1,188000,1,140,1,0,29,1\n69,0,582,1,35,0,228000,3.5,134,1,0,30,1\n90,1,60,1,50,0,226000,1,134,1,0,30,1\n82,1,855,1,50,1,321000,1,145,0,0,30,1\n60,0,2656,1,30,0,305000,2.3,137,1,0,30,0\n60,0,235,1,38,0,329000,3,142,0,0,30,1\n70,0,582,0,20,1,263358.03,1.83,134,1,1,31,1\n50,0,124,1,30,1,153000,1.2,136,0,1,32,1\n70,0,571,1,45,1,185000,1.2,139,1,1,33,1\n72,0,127,1,50,1,218000,1,134,1,0,33,0\n60,1,588,1,60,0,194000,1.1,142,0,0,33,1\n50,0,582,1,38,0,310000,1.9,135,1,1,35,1\n51,0,1380,0,25,1,271000,0.9,130,1,0,38,1\n60,0,582,1,38,1,451000,0.6,138,1,1,40,1\n80,1,553,0,20,1,140000,4.4,133,1,0,41,1\n57,1,129,0,30,0,395000,1,140,0,0,42,1\n68,1,577,0,25,1,166000,1,138,1,0,43,1\n53,1,91,0,20,1,418000,1.4,139,0,0,43,1\n60,0,3964,1,62,0,263358.03,6.8,146,0,0,43,1\n70,1,69,1,50,1,351000,1,134,0,0,44,1\n60,1,260,1,38,0,255000,2.2,132,0,1,45,1\n95,1,371,0,30,0,461000,2,132,1,0,50,1\n70,1,75,0,35,0,223000,2.7,138,1,1,54,0\n60,1,607,0,40,0,216000,0.6,138,1,1,54,0\n49,0,789,0,20,1,319000,1.1,136,1,1,55,1\n72,0,364,1,20,1,254000,1.3,136,1,1,59,1\n45,0,7702,1,25,1,390000,1,139,1,0,60,1\n50,0,318,0,40,1,216000,2.3,131,0,0,60,1\n55,0,109,0,35,0,254000,1.1,139,1,1,60,0\n45,0,582,0,35,0,385000,1,145,1,0,61,1\n45,0,582,0,80,0,263358.03,1.18,137,0,0,63,0\n60,0,68,0,20,0,119000,2.9,127,1,1,64,1\n42,1,250,1,15,0,213000,1.3,136,0,0,65,1\n72,1,110,0,25,0,274000,1,140,1,1,65,1\n70,0,161,0,25,0,244000,1.2,142,0,0,66,1\n65,0,113,1,25,0,497000,1.83,135,1,0,67,1\n41,0,148,0,40,0,374000,0.8,140,1,1,68,0\n58,0,582,1,35,0,122000,0.9,139,1,1,71,0\n85,0,5882,0,35,0,243000,1,132,1,1,72,1\n65,0,224,1,50,0,149000,1.3,137,1,1,72,0\n69,0,582,0,20,0,266000,1.2,134,1,1,73,1\n60,1,47,0,20,0,204000,0.7,139,1,1,73,1\n70,0,92,0,60,1,317000,0.8,140,0,1,74,0\n42,0,102,1,40,0,237000,1.2,140,1,0,74,0\n75,1,203,1,38,1,283000,0.6,131,1,1,74,0\n55,0,336,0,45,1,324000,0.9,140,0,0,74,0\n70,0,69,0,40,0,293000,1.7,136,0,0,75,0\n67,0,582,0,50,0,263358.03,1.18,137,1,1,76,0\n60,1,76,1,25,0,196000,2.5,132,0,0,77,1\n79,1,55,0,50,1,172000,1.8,133,1,0,78,0\n59,1,280,1,25,1,302000,1,141,0,0,78,1\n51,0,78,0,50,0,406000,0.7,140,1,0,79,0\n55,0,47,0,35,1,173000,1.1,137,1,0,79,0\n65,1,68,1,60,1,304000,0.8,140,1,0,79,0\n44,0,84,1,40,1,235000,0.7,139,1,0,79,0\n57,1,115,0,25,1,181000,1.1,144,1,0,79,0\n70,0,66,1,45,0,249000,0.8,136,1,1,80,0\n60,0,897,1,45,0,297000,1,133,1,0,80,0\n42,0,582,0,60,0,263358.03,1.18,137,0,0,82,0\n60,1,154,0,25,0,210000,1.7,135,1,0,82,1\n58,0,144,1,38,1,327000,0.7,142,0,0,83,0\n58,1,133,0,60,1,219000,1,141,1,0,83,0\n63,1,514,1,25,1,254000,1.3,134,1,0,83,0\n70,1,59,0,60,0,255000,1.1,136,0,0,85,0\n60,1,156,1,25,1,318000,1.2,137,0,0,85,0\n63,1,61,1,40,0,221000,1.1,140,0,0,86,0\n65,1,305,0,25,0,298000,1.1,141,1,0,87,0\n75,0,582,0,45,1,263358.03,1.18,137,1,0,87,0\n80,0,898,0,25,0,149000,1.1,144,1,1,87,0\n42,0,5209,0,30,0,226000,1,140,1,1,87,0\n60,0,53,0,50,1,286000,2.3,143,0,0,87,0\n72,1,328,0,30,1,621000,1.7,138,0,1,88,1\n55,0,748,0,45,0,263000,1.3,137,1,0,88,0\n45,1,1876,1,35,0,226000,0.9,138,1,0,88,0\n63,0,936,0,38,0,304000,1.1,133,1,1,88,0\n45,0,292,1,35,0,850000,1.3,142,1,1,88,0\n85,0,129,0,60,0,306000,1.2,132,1,1,90,1\n55,0,60,0,35,0,228000,1.2,135,1,1,90,0\n50,0,369,1,25,0,252000,1.6,136,1,0,90,0\n70,1,143,0,60,0,351000,1.3,137,0,0,90,1\n60,1,754,1,40,1,328000,1.2,126,1,0,91,0\n58,1,400,0,40,0,164000,1,139,0,0,91,0\n60,1,96,1,60,1,271000,0.7,136,0,0,94,0\n85,1,102,0,60,0,507000,3.2,138,0,0,94,0\n65,1,113,1,60,1,203000,0.9,140,0,0,94,0\n86,0,582,0,38,0,263358.03,1.83,134,0,0,95,1\n60,1,737,0,60,1,210000,1.5,135,1,1,95,0\n66,1,68,1,38,1,162000,1,136,0,0,95,0\n60,0,96,1,38,0,228000,0.75,140,0,0,95,0\n60,1,582,0,30,1,127000,0.9,145,0,0,95,0\n60,0,582,0,40,0,217000,3.7,134,1,0,96,1\n43,1,358,0,50,0,237000,1.3,135,0,0,97,0\n46,0,168,1,17,1,271000,2.1,124,0,0,100,1\n58,1,200,1,60,0,300000,0.8,137,0,0,104,0\n61,0,248,0,30,1,267000,0.7,136,1,1,104,0\n53,1,270,1,35,0,227000,3.4,145,1,0,105,0\n53,1,1808,0,60,1,249000,0.7,138,1,1,106,0\n60,1,1082,1,45,0,250000,6.1,131,1,0,107,0\n46,0,719,0,40,1,263358.03,1.18,137,0,0,107,0\n63,0,193,0,60,1,295000,1.3,145,1,1,107,0\n81,0,4540,0,35,0,231000,1.18,137,1,1,107,0\n75,0,582,0,40,0,263358.03,1.18,137,1,0,107,0\n65,1,59,1,60,0,172000,0.9,137,0,0,107,0\n68,1,646,0,25,0,305000,2.1,130,1,0,108,0\n62,0,281,1,35,0,221000,1,136,0,0,108,0\n50,0,1548,0,30,1,211000,0.8,138,1,0,108,0\n80,0,805,0,38,0,263358.03,1.1,134,1,0,109,1\n46,1,291,0,35,0,348000,0.9,140,0,0,109,0\n50,0,482,1,30,0,329000,0.9,132,0,0,109,0\n61,1,84,0,40,1,229000,0.9,141,0,0,110,0\n72,1,943,0,25,1,338000,1.7,139,1,1,111,1\n50,0,185,0,30,0,266000,0.7,141,1,1,112,0\n52,0,132,0,30,0,218000,0.7,136,1,1,112,0\n64,0,1610,0,60,0,242000,1,137,1,0,113,0\n75,1,582,0,30,0,225000,1.83,134,1,0,113,1\n60,0,2261,0,35,1,228000,0.9,136,1,0,115,0\n72,0,233,0,45,1,235000,2.5,135,0,0,115,1\n62,0,30,1,60,1,244000,0.9,139,1,0,117,0\n50,0,115,0,45,1,184000,0.9,134,1,1,118,0\n50,0,1846,1,35,0,263358.03,1.18,137,1,1,119,0\n65,1,335,0,35,1,235000,0.8,136,0,0,120,0\n60,1,231,1,25,0,194000,1.7,140,1,0,120,0\n52,1,58,0,35,0,277000,1.4,136,0,0,120,0\n50,0,250,0,25,0,262000,1,136,1,1,120,0\n85,1,910,0,50,0,235000,1.3,134,1,0,121,0\n59,1,129,0,45,1,362000,1.1,139,1,1,121,0\n66,1,72,0,40,1,242000,1.2,134,1,0,121,0\n45,1,130,0,35,0,174000,0.8,139,1,1,121,0\n63,1,582,0,40,0,448000,0.9,137,1,1,123,0\n50,1,2334,1,35,0,75000,0.9,142,0,0,126,1\n45,0,2442,1,30,0,334000,1.1,139,1,0,129,1\n80,0,776,1,38,1,192000,1.3,135,0,0,130,1\n53,0,196,0,60,0,220000,0.7,133,1,1,134,0\n59,0,66,1,20,0,70000,2.4,134,1,0,135,1\n65,0,582,1,40,0,270000,1,138,0,0,140,0\n70,0,835,0,35,1,305000,0.8,133,0,0,145,0\n51,1,582,1,35,0,263358.03,1.5,136,1,1,145,0\n52,0,3966,0,40,0,325000,0.9,140,1,1,146,0\n70,1,171,0,60,1,176000,1.1,145,1,1,146,0\n50,1,115,0,20,0,189000,0.8,139,1,0,146,0\n65,0,198,1,35,1,281000,0.9,137,1,1,146,0\n60,1,95,0,60,0,337000,1,138,1,1,146,0\n69,0,1419,0,40,0,105000,1,135,1,1,147,0\n49,1,69,0,50,0,132000,1,140,0,0,147,0\n63,1,122,1,60,0,267000,1.2,145,1,0,147,0\n55,0,835,0,40,0,279000,0.7,140,1,1,147,0\n40,0,478,1,30,0,303000,0.9,136,1,0,148,0\n59,1,176,1,25,0,221000,1,136,1,1,150,1\n65,0,395,1,25,0,265000,1.2,136,1,1,154,1\n75,0,99,0,38,1,224000,2.5,134,1,0,162,1\n58,1,145,0,25,0,219000,1.2,137,1,1,170,1\n60.667,1,104,1,30,0,389000,1.5,136,1,0,171,1\n50,0,582,0,50,0,153000,0.6,134,0,0,172,1\n60,0,1896,1,25,0,365000,2.1,144,0,0,172,1\n60.667,1,151,1,40,1,201000,1,136,0,0,172,0\n40,0,244,0,45,1,275000,0.9,140,0,0,174,0\n80,0,582,1,35,0,350000,2.1,134,1,0,174,0\n64,1,62,0,60,0,309000,1.5,135,0,0,174,0\n50,1,121,1,40,0,260000,0.7,130,1,0,175,0\n73,1,231,1,30,0,160000,1.18,142,1,1,180,0\n45,0,582,0,20,1,126000,1.6,135,1,0,180,1\n77,1,418,0,45,0,223000,1.8,145,1,0,180,1\n45,0,582,1,38,1,263358.03,1.18,137,0,0,185,0\n65,0,167,0,30,0,259000,0.8,138,0,0,186,0\n50,1,582,1,20,1,279000,1,134,0,0,186,0\n60,0,1211,1,35,0,263358.03,1.8,113,1,1,186,0\n63,1,1767,0,45,0,73000,0.7,137,1,0,186,0\n45,0,308,1,60,1,377000,1,136,1,0,186,0\n70,0,97,0,60,1,220000,0.9,138,1,0,186,0\n60,0,59,0,25,1,212000,3.5,136,1,1,187,0\n78,1,64,0,40,0,277000,0.7,137,1,1,187,0\n50,1,167,1,45,0,362000,1,136,0,0,187,0\n40,1,101,0,40,0,226000,0.8,141,0,0,187,0\n85,0,212,0,38,0,186000,0.9,136,1,0,187,0\n60,1,2281,1,40,0,283000,1,141,0,0,187,0\n49,0,972,1,35,1,268000,0.8,130,0,0,187,0\n70,0,212,1,17,1,389000,1,136,1,1,188,0\n50,0,582,0,62,1,147000,0.8,140,1,1,192,0\n78,0,224,0,50,0,481000,1.4,138,1,1,192,0\n48,1,131,1,30,1,244000,1.6,130,0,0,193,1\n65,1,135,0,35,1,290000,0.8,134,1,0,194,0\n73,0,582,0,35,1,203000,1.3,134,1,0,195,0\n70,0,1202,0,50,1,358000,0.9,141,0,0,196,0\n54,1,427,0,70,1,151000,9,137,0,0,196,1\n68,1,1021,1,35,0,271000,1.1,134,1,0,197,0\n55,0,582,1,35,1,371000,0.7,140,0,0,197,0\n73,0,582,0,20,0,263358.03,1.83,134,1,0,198,1\n65,0,118,0,50,0,194000,1.1,145,1,1,200,0\n42,1,86,0,35,0,365000,1.1,139,1,1,201,0\n47,0,582,0,25,0,130000,0.8,134,1,0,201,0\n58,0,582,1,25,0,504000,1,138,1,0,205,0\n75,0,675,1,60,0,265000,1.4,125,0,0,205,0\n58,1,57,0,25,0,189000,1.3,132,1,1,205,0\n55,1,2794,0,35,1,141000,1,140,1,0,206,0\n65,0,56,0,25,0,237000,5,130,0,0,207,0\n72,0,211,0,25,0,274000,1.2,134,0,0,207,0\n60,0,166,0,30,0,62000,1.7,127,0,0,207,1\n70,0,93,0,35,0,185000,1.1,134,1,1,208,0\n40,1,129,0,35,0,255000,0.9,137,1,0,209,0\n53,1,707,0,38,0,330000,1.4,137,1,1,209,0\n53,1,582,0,45,0,305000,1.1,137,1,1,209,0\n77,1,109,0,50,1,406000,1.1,137,1,0,209,0\n75,0,119,0,50,1,248000,1.1,148,1,0,209,0\n70,0,232,0,30,0,173000,1.2,132,1,0,210,0\n65,1,720,1,40,0,257000,1,136,0,0,210,0\n55,1,180,0,45,0,263358.03,1.18,137,1,1,211,0\n70,0,81,1,35,1,533000,1.3,139,0,0,212,0\n65,0,582,1,30,0,249000,1.3,136,1,1,212,0\n40,0,90,0,35,0,255000,1.1,136,1,1,212,0\n73,1,1185,0,40,1,220000,0.9,141,0,0,213,0\n54,0,582,1,38,0,264000,1.8,134,1,0,213,0\n61,1,80,1,38,0,282000,1.4,137,1,0,213,0\n55,0,2017,0,25,0,314000,1.1,138,1,0,214,1\n64,0,143,0,25,0,246000,2.4,135,1,0,214,0\n40,0,624,0,35,0,301000,1,142,1,1,214,0\n53,0,207,1,40,0,223000,1.2,130,0,0,214,0\n50,0,2522,0,30,1,404000,0.5,139,0,0,214,0\n55,0,572,1,35,0,231000,0.8,143,0,0,215,0\n50,0,245,0,45,1,274000,1,133,1,0,215,0\n70,0,88,1,35,1,236000,1.2,132,0,0,215,0\n53,1,446,0,60,1,263358.03,1,139,1,0,215,0\n52,1,191,1,30,1,334000,1,142,1,1,216,0\n65,0,326,0,38,0,294000,1.7,139,0,0,220,0\n58,0,132,1,38,1,253000,1,139,1,0,230,0\n45,1,66,1,25,0,233000,0.8,135,1,0,230,0\n53,0,56,0,50,0,308000,0.7,135,1,1,231,0\n55,0,66,0,40,0,203000,1,138,1,0,233,0\n62,1,655,0,40,0,283000,0.7,133,0,0,233,0\n65,1,258,1,25,0,198000,1.4,129,1,0,235,1\n68,1,157,1,60,0,208000,1,140,0,0,237,0\n61,0,582,1,38,0,147000,1.2,141,1,0,237,0\n50,1,298,0,35,0,362000,0.9,140,1,1,240,0\n55,0,1199,0,20,0,263358.03,1.83,134,1,1,241,1\n56,1,135,1,38,0,133000,1.7,140,1,0,244,0\n45,0,582,1,38,0,302000,0.9,140,0,0,244,0\n40,0,582,1,35,0,222000,1,132,1,0,244,0\n44,0,582,1,30,1,263358.03,1.6,130,1,1,244,0\n51,0,582,1,40,0,221000,0.9,134,0,0,244,0\n67,0,213,0,38,0,215000,1.2,133,0,0,245,0\n42,0,64,0,40,0,189000,0.7,140,1,0,245,0\n60,1,257,1,30,0,150000,1,137,1,1,245,0\n45,0,582,0,38,1,422000,0.8,137,0,0,245,0\n70,0,618,0,35,0,327000,1.1,142,0,0,245,0\n70,0,582,1,38,0,25100,1.1,140,1,0,246,0\n50,1,1051,1,30,0,232000,0.7,136,0,0,246,0\n55,0,84,1,38,0,451000,1.3,136,0,0,246,0\n70,0,2695,1,40,0,241000,1,137,1,0,247,0\n70,0,582,0,40,0,51000,2.7,136,1,1,250,0\n42,0,64,0,30,0,215000,3.8,128,1,1,250,0\n65,0,1688,0,38,0,263358.03,1.1,138,1,1,250,0\n50,1,54,0,40,0,279000,0.8,141,1,0,250,0\n55,1,170,1,40,0,336000,1.2,135,1,0,250,0\n60,0,253,0,35,0,279000,1.7,140,1,0,250,0\n45,0,582,1,55,0,543000,1,132,0,0,250,0\n65,0,892,1,35,0,263358.03,1.1,142,0,0,256,0\n90,1,337,0,38,0,390000,0.9,144,0,0,256,0\n45,0,615,1,55,0,222000,0.8,141,0,0,257,0\n60,0,320,0,35,0,133000,1.4,139,1,0,258,0\n52,0,190,1,38,0,382000,1,140,1,1,258,0\n63,1,103,1,35,0,179000,0.9,136,1,1,270,0\n62,0,61,1,38,1,155000,1.1,143,1,1,270,0\n55,0,1820,0,38,0,270000,1.2,139,0,0,271,0\n45,0,2060,1,60,0,742000,0.8,138,0,0,278,0\n45,0,2413,0,38,0,140000,1.4,140,1,1,280,0\n50,0,196,0,45,0,395000,1.6,136,1,1,285,0\n'}

In [ ]:
df = pd.read_csv("heart_failure_clinical_records_dataset.csv")
df.head(10)
#1st question

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1
7,60.0,1,315,1,60,0,454000.00,1.1,131,1,1,10,1
8,65.0,0,157,0,65,0,263358.03,1.5,138,0,0,10,1
9,80.0,1,123,0,35,1,388000.00,9.4,133,1,1,10,1

In [ ]:
df.shape

(299, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [ ]:
df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [ ]:
df['age'].mean()

np.float64(60.83389297658862)

In [ ]:
df[df['diabetes']==1].shape[0]

125

In [ ]:
df['ejection_fraction'].min()

14

In [ ]:
df['ejection_fraction'].max()

80

In [ ]:
df[['serum_creatinine','DEATH_EVENT']].mean()

serum_creatinine    1.39388
DEATH_EVENT         0.32107
dtype: float64

In [ ]:
df[['high_blood_pressure','smoking']].count()

high_blood_pressure    299
smoking                299
dtype: int64

In [ ]:
df.groupby('sex')['age'].mean()

sex
0    59.777781
1    61.405500
Name: age, dtype: float64

In [ ]:
df['creatinine_phosphokinase'].nlargest(5)

1      7861
60     7702
72     5882
103    5209
134    4540
Name: creatinine_phosphokinase, dtype: int64

In [ ]:
df['age_group'] = pd.cut(df['age'], bins =[0,40,60,float('inf')], labels=['young','middle','old'])
df['age_group'].head()

0       old
1    middle
2       old
3    middle
4       old
Name: age_group, dtype: category
Categories (3, object): ['young' < 'middle' < 'old']

In [ ]:
df[df['diabetes']==1]['DEATH_EVENT'].mean() * 100

np.float64(32.0)

In [ ]:
df[df['serum_sodium'] <130]

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,age_group
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1,Middle
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1,Middle
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1,Old
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1,Old
7,60.0,1,315,1,60,0,454000.00,1.1,131,1,1,10,1,Old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0,Old
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0,Middle
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0,Middle
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0,Middle
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0,Middle

In [ ]:
df.groupby('DEATH_EVENT')[['age','ejection_fraction']].mean()

                   age  ejection_fraction
DEATH_EVENT
0            58.761906           40.26601
1            65.215281           33.46875

In [ ]:
df[['serum_creatinine','DEATH_EVENT']].corr()

                  serum_creatinine  DEATH_EVENT
serum_creatinine          1.000000     0.294278
DEATH_EVENT               0.294278     1.000000

In [ ]:
d = df.pivot_table(values='ejection_fraction', index='sex', columns='DEATH_EVENT', aggfunc='mean')
d

DEATH_EVENT          0          1
sex
0            41.873239  37.529412
1            39.401515  31.241935

In [ ]:
df[(df['age'] > 60) & (df['diabetes']) & (df['high_blood_pressure'])]

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,age_group
21,65.000,1,128,1,30,1,297000.00,1.60,136,0,0,20,1,old
24,75.000,0,582,1,30,1,263358.03,1.83,134,0,0,23,1,old
27,70.000,0,122,1,45,1,284000.00,1.30,136,1,1,26,1,old
30,94.000,0,582,1,38,1,263358.03,1.83,134,1,0,27,1,old
34,65.000,0,94,1,50,1,188000.00,1.00,140,1,0,29,1,old
37,82.000,1,855,1,50,1,321000.00,1.00,145,0,0,30,1,old
42,70.000,0,571,1,45,1,185000.00,1.20,139,1,1,33,1,old
43,72.000,0,127,1,50,1,218000.00,1.00,134,1,0,33,0,old
53,70.000,1,69,1,50,1,351000.00,1.00,134,0,0,44,1,old
59,72.000,0,364,1,20,1,254000.00,1.30,136,1,1,59,1,old
78,75.000,1,203,1,38,1,283000.00,0.60,131,1,1,74,0,old
87,65.000,1,68,1,60,1,304000.00,0.80,140,1,0,79,0,old
96,63.000,1,514,1,25,1,254000.00,1.30,134,1,0,83,0,old
118,65.000,1,113,1,60,1,203000.00,0.90,140,0,0,94,0,old
121,66.000,1,68,1,38,1,162000.00,1.00,136,0,0,95,0,old
151,62.000,0,30,1,60,1,244000.00,0.90,139,1,0,117,0,old
165,80.000,0,776,1,38,1,192000.00,1.30,135,0,0,130,1,old
174,65.000,0,198,1,35,1,281000.00,0.90,137,1,1,146,0,old
188,60.667,1,151,1,40,1,201000.00,1.00,136,0,0,172,0,old
210,70.000,0,212,1,17,1,389000.00,1.00,136,1,1,188,0,old
240,70.000,0,81,1,35,1,533000.00,1.30,139,0,0,212,0,old
253,70.000,0,88,1,35,1,236000.00,1.20,132,0,0,215,0,old
294,62.000,0,61,1,38,1,155000.00,1.10,143,1,1,270,0,old

In [ ]:
df.sort_values(by="time", ascending=False)[df['DEATH_EVENT']==1].tail(10)

/tmp/ipython-input-933222886.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.sort_values(by="time", ascending=False)[df['DEATH_EVENT']==1].tail(10)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,age_group
10,75.0,1,81,0,38,1,368000.00,4.0,131,1,1,10,1,old
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1,old
9,80.0,1,123,0,35,1,388000.00,9.4,133,1,1,10,1,old
11,62.0,0,231,0,25,1,253000.00,0.9,140,1,1,10,1,old
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1,old
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1,old
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1,middle
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1,old
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1,middle
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1,old

In [ ]:

df['platelets_normalized'] = (df['platelets'] - df['platelets'].min()) / (df['platelets'].max() - df['platelets'].min())
df[['platelets', 'platelets_normalized']].head()

   platelets  platelets_normalized
0  265000.00              0.290823
1  263358.03              0.288833
2  162000.00              0.165960
3  210000.00              0.224148
4  327000.00              0.365984